.Banner {
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    
    .text {
        width: 45%;
    
        h1 {
            font-size: 2.5rem;
            margin: 1rem 0;
        }

        p {
            line-height: 1.5;
            margin: 1rem 0;
            font-size: 1.3rem;
        }
    }

    .illustration {
        width: 45%;

        img {
            width: 100%;
        }
    }
}