.Banner {
    display: flex;
    .text {
        width: 50%;
        padding: 0 2rem;

        h1 {
            font-size: 2.5rem;
            margin: 1rem 0;
        }

        p {
            line-height: 1.5;
            margin: 1rem 0;
            font-size: 1.3rem;
        }
    }

    .illustration {
        width: 50%;

        img {
            width: 100%;
        }
    }
}