.list {
    
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 0;

    .card {
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 5px;
        padding: 12px;
        background-color: rgb(20,20,20);

        p {
            margin-top: 1rem;
        }
    }
}